# compiler python files
__pycache__

# development environment
venv
test_*.py
login.txt

# additional development files
json_ref
todos.md
*.jpg

# files created after running scripts
last_*_args.txt
images
input.json
*.csv
